body{
    background-color: rgba(119, 178, 209, 0.75);
    min-height: 100vh; margin: 0;
    display: grid;
    place-items: center;
}

.box {
    margin-top: 65px;
    display: flex;
    background-color: rgb(119, 134, 209);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba(95, 106, 175, 0.44);
    width: 500px;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.length{
    display: flex;
}

.checkbox{
    margin-bottom: 5px;
}

.btn {
    background-color: #6a11cb;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

.btn:hover {
    background-color: #7300ff;
}